{% extends "website/base.html" %}

{% block navbar_items %}
	{% include "website/navbar.html" %}
{% endblock navbar_items %}

{% block content %}
<section>
	<div class="container clearfix">
		<h1 align="center" class="site-title">{{ resume.title }}</h1><br>
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-10">
				<!-- Sections -->
				{% for section in sections %}
					<center>
						<div class="btn-group" style="margin-top: 10px; margin-bottom: 10px;">
							<button class="btn btn-primary">{{section.title}}</button>
	    					<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></button>
	    					<ul class="dropdown-menu dropdown-menu-right">
	        					<li><a>Rename</a></li>
	        					<li><a>Delete</a></li>
	   						</ul>
	  					</div>
  					</center>
	  				{% for point in section.points %}
		  				<div class="input-group mb-3" style="margin-bottom: 5px;">
		  					<input type="text" class="form-control" value="{{ point.content }}" readonly>
		  					<span class="input-group-btn">
		    					<button class="btn btn-green" type="button"><i class="fas fa-check"></i></button>
		  					</span>
		  				</div>
	  				{% endfor %}
	  				<div class="input-group mb-3" style="margin-bottom: 5px;">
	  					<input type="text" class="form-control" id = "{{section.id}}">
	  					<span class="input-group-btn">
	    					<button class="btn btn-green" type="submit" onclick="add_point({{section.id}})"><i class="fas fa-check"></i></button>
	  					</span>
		  			</div>

				{% endfor %}
				<!-- Single Point -->

  				<center><div class="btn-group" style="margin-top: 25px;">
  				<button type="button" class="btn btn-primary custom-width" data-toggle="modal" data-target="#myModal">Add Section</button>
  				</div></center>
				  <!-- Modal -->
				  <div class="modal fade" id="myModal" role="dialog">
				    <div class="modal-dialog">
				    
				      <!-- Modal content-->
				      <div class="modal-content">
				        <div class="modal-header">
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				          <h4 class="modal-title">Add Section</h4>
				        </div>
				        <div class="modal-body">
				        <form method='POST' action='/add_section/'>
				          Title: <input type=text id=section-title name='title'><br>
				          Type: <select class="form-control" placeholder="Department" name="type">
							<option value="">Choose a type</option>
							<option value="CS">Bullet</option>
							<option value="EE">Block</option>
							<option value="EE">Block</option>
						</select>
						<div class='modal-footer'>
				          <input type=submit id="_create_" class="btn btn-primary">
				  		</div>
				  		</form>

				      </div>

				      
				    </div>
				  </div>

  				<!-- Block Point -->

  				<!-- Multicolumn -->

			</div>
			<div class="col-sm-1"></div>
		</div>
	</div>
</section>
{% endblock content %}


{% block javascript %}
	<script type="text/javascript">

		function add_point(id){
			var form = document.createElement("form");
			var element1 = document.createElement("input");
			var element2 = document.createElement("input");
			
			var att1 = document.createAttribute("type");
			att1.value = "hidden";
			
			var att2 = document.createAttribute("type");
			att2.value = "hidden";

			element1.setAttributeNode(att1);
			element2.setAttributeNode(att2);
			
			form.method = "POST";
			form.action = "/add_point/";
			
			element1.value = document.getElementById(id).value;
			element1.name = "content";

			element2.value = id;
			element2.name = 'section_id';

			form.appendChild(element1);
			form.appendChild(element2);

			document.body.appendChild(form);
			form.submit();

		}
	</script>
{% endblock javascript %}