{% extends "website/base.html" %}

{% block navbar_items %}

<li><a><i class="fas fa-envelope"></i></a></li>
<li><a><i class="fas fa-bell"></i></a></li>
<li class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fas fa-cog"></i></a>
    <ul class="dropdown-menu">
        <li><a href="#?id=2">Profile</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</li>
<li><a>{{ user.name }}</a></li>

{% endblock navbar_items %}

{% block content %}
<section>
	<div class="container clearfix">
		<h1 align="center" class="site-title">{{ resume.title }}</h1><br>
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-10">
				
				<!-- Single Point -->
				<div class="input-group mb-3">
  					<input type="text" class="form-control">
  					<span class="input-group-btn">
    					<button class="btn btn-green" type="button"><i class="fas fa-check"></i></button>
  					</span>
  				</div>

  				<!-- Block Point -->

  				<!-- Multicolumn -->

			</div>
			<div class="col-sm-1"></div>
		</div>
	</div>
</section>
{% endblock content %}


{% block javascript %}


{% endblock javascript %}