{% extends "website/base.html" %}

{% block navbar_items %}
	{% include "website/navbar.html" %}
{% endblock navbar_items %}


{% block content %}
<section>
	<div class="container clearfix">
		<div class="content">
			<h1 align="center" class="site-title">{{ user.name }}</h1><br>
		</div>
		<div>
			<button id='_show_' type="submit" class="btn btn-primary transition-visible custom-width">Add resume</button><br><br>
			<p id = "_new_resume_"></p>
			<div class = "form-group">
				<input id='_title_' type="text" name="title" class="form-control transition-hidden" placeholder="Resume Name">
			</div>
			<button id='_create_' class="btn btn-primary transition-hidden custom-width">Create Resume</button>
			<button id='_cancel_' class="btn btn-red transition-hidden custom-width">Cancel</button>	
		</div>
		
		<hr>
		
		<div id = '_all_'>
			{% for resume in resume_list %}
				{% if resume.status == 3 %}
					<div class="btn-group">
						<button onClick="openResume({{resume.id}})" class="btn btn-green custom-width">{{resume.title}}</button>
    					<button class="btn btn-green dropdown-toggle" type="button" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></button>
    					<ul class="dropdown-menu dropdown-menu-right">
        					<li><a>Rename</a></li>
        					<li><a href='#'  onClick = "return deleteResume({{resume.id}});">Delete</a></li>
   						</ul>
  					</div><br>
				{% elif resume.status == 2 %}
					<div class="btn-group">
						<button onClick="openResume({{resume.id}})" class="btn btn-primary custom-width">{{resume.title}}</button>
    					<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></button>
    					<ul class="dropdown-menu dropdown-menu-right">
        					<li><a>Rename</a></li>
        					<li><a href='#'  onClick = "return deleteResume({{resume.id}});">Delete</a></li>
   						</ul>
  					</div><br>
				{% else%}
					<div class="btn-group">
						<button onClick="openResume({{resume.id}})" class="btn btn-red custom-width">{{resume.title}}</button>
    					<button class="btn btn-red dropdown-toggle" type="button" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></button>
    					<ul class="dropdown-menu dropdown-menu-right">
        					<li><a>Rename</a></li>
        					<li><a href='#'  onClick = "return deleteResume({{resume.id}});">Delete</a></li>
   						</ul>
  					</div><br>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</section>

{% endblock content %}


{% block javascript %}

<script type="text/javascript">
	$(document).ready(function(){
    	$("#_show_").click(function(){
    		console.log("Clicked");
        	$('#_title_').removeClass('transition-hidden').addClass('transition-visible');
        	$('#_create_').removeClass('transition-hidden').addClass('transition-visible');
        	$('#_cancel_').removeClass('transition-hidden').addClass('transition-visible');
        	$('#_show_').removeClass('transition-visible').addClass('transition-hidden');
        });
    	$("#_cancel_").click(function(){
        	$('#_title_').removeClass('transition-visible').addClass('transition-hidden');
        	$('#_create_').removeClass('transition-visible').addClass('transition-hidden');
        	$('#_cancel_').removeClass('transition-visible').addClass('transition-hidden');
        	$('#_show_').removeClass('transition-hidden').addClass('transition-visible');
        	document.getElementById('_new_resume_').innerHTML = "";
    	});
    	$("#_create_").click(function(){
    		var t = document.getElementById('_title_').value;
    		if (t == ""){
    			document.getElementById('_new_resume_').innerHTML = 'Title cannot be empty';
    		}
    		else{

    			console.log(t);
    			
    			var xhttp = new XMLHttpRequest();;
    			var params = 'title='+t;
				
				xhttp.onreadystatechange = function() {
					if (this.readyState == 4 && this.status == 200) {

				  		var data = JSON.parse(this.responseText);
				  		var div_content = "";

				  		document.getElementById("_all_").innerHTML = "";
				  	
				  		for (var index = 0; index < data.resume.length; ++index) {
				  			console.log(data.resume[index].status);
				  			if (data.resume[index].status == 3){
				  				div_content += `<div class = "btn-group">
				  									<button onClick="openResume(` + data.resume[index].id + `)" class="btn btn-green custom-width">` + data.resume[index].title + `</button>
				  									<button class="btn btn-green dropdown-toggle" type="button" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></button>
				  									<ul class="dropdown-menu dropdown-menu-right">
        												<li><a>Rename</a></li>
        												<li ><a href = '#' onClick = "return deleteResume(`+data.resume[index].id+`);">Delete</a></li>
   													</ul>
   												</div>
  												<br>`;	
				  			}
				  			else if (data.resume[index].status == 2){
				  				div_content += `<div class = "btn-group">
				  									<button onClick="openResume(` + data.resume[index].id + `)" class="btn btn-primary custom-width">` + data.resume[index].title + `</button>
				  									<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></button>
				  									<ul class="dropdown-menu dropdown-menu-right">
        												<li><a>Rename</a></li>
        												<li><a href = '#' onClick = "return deleteResume(`+data.resume[index].id+`);">Delete</a></li>
   													</ul>
   												</div>
  												<br>`;	
  							}
				  			else{
				  				div_content += `<div class = "btn-group">
				  									<button onClick="openResume(` + data.resume[index].id + `)" class="btn btn-red custom-width">` + data.resume[index].title + `</button>
				  									<button class="btn btn-red dropdown-toggle" type="button" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></button>
				  									<ul class="dropdown-menu dropdown-menu-right">
        												<li><a>Rename</a></li>
        												<li><a href = '#' onClick = "return deleteResume(`+data.resume[index].id+`);">Delete</a></li>
   													</ul>
   												</div>
  												<br>`;		
				  			}
				  		}

				  		document.getElementById("_all_").innerHTML = div_content;

				  		$('#_title_').removeClass('transition-visible').addClass('transition-hidden');
		        		$('#_create_').removeClass('transition-visible').addClass('transition-hidden');
		        		$('#_cancel_').removeClass('transition-visible').addClass('transition-hidden');
		        		$('#_show_').removeClass('transition-hidden').addClass('transition-visible');
		        		document.getElementById('_new_resume_').innerHTML = "";
		        	}
				};
				
				xhttp.open("POST", "/add_resume/", true);
				xhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
				xhttp.send(params);
    		}
    	});
	});

	function openResume(id){
		console.log(id);
		var form = document.createElement("form");
		var element = document.createElement("input");
		var att = document.createAttribute("type");
		att.value = "hidden";
		element.setAttributeNode(att);
		form.method = "POST";
		form.action = "/resume/";
		element.value = id;
		element.name = "id";
		form.appendChild(element);
		document.body.appendChild(form);
		form.submit();

	}

	function deleteResume(id){
		console.log('id = '+ id);
		var form = document.createElement("form");
		var element = document.createElement("input");
		form.method = "POST";
		form.action = "/delete_resume/";
		element.value = id;
		element.name = "resume_id";
		form.appendChild(element);
		document.body.appendChild(form);
		form.submit();
		return false;
	}
</script>

{% endblock javascript %}


