{% extends "website/base.html" %}

{% block navbar_items %}
<li><a><i class="fas fa-envelope"></i></a></li>
<li><a><i class="fas fa-bell"></i></a></li>
<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fas fa-cog"></i></a>
        <ul class="dropdown-menu">
          <li><a href="#?id=2">Profile</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </li>

<li><a>{{user.name}}</a></li>
{% endblock navbar_items %}
{% block content %}
<section>
	<div class="container clearfix">
		<div class="content">
			<h1 align="center" class="site-title">{{user.name}}</h1><br>
		</div>
	<div>
	<!-- <form id = "ResumeForm"  action='' method='GET' onsubmit="addResume(this.title.value); return false;" style='display: none;'> -->
	<input type="text" id='title' name="title" style='display:none;'><br>
	<button id='submit' class="btn btn-primary" style='display:none;' onclick="addResume(document.getElementById('title').value)">Create Resume</button><br>
	<!-- <input id='submit' type="submit" value="Create" style='display:none;'> -->
	</div>
	<button id='Show' type="submit"  class="btn btn-primary" onclick="displayForm()">Add resume</button><br>
	<div id = 'newResume'>
	{% for resume in resume_list %}
	{% if resume.status > 2 %}
	<button onclick="openResume({{resume.id}})" class="btn btn-green">{{resume.title}}</button><br>
	{% elif resume.status > 1 %}
	<button onclick="openResume({{resume.id}})" class="btn btn-primary">{{resume.title}}</button><br>
	{% else%}
	<button onclick="openResume({{resume.id}})" class="btn btn-red">{{resume.title}}</button><br>
	{% endif %}
	{% endfor %}
	</div>
	</div>
</section>
<script type="text/javascript">
	
	function addResume(title){
		console.log(title);
		document.getElementById('title').style.display = 'none';
		document.getElementById('submit').style.display = 'none';
		document.getElementById('Show').style.display = 'block';
		var xhttp = new XMLHttpRequest();
		var params = 'title='+title;
		xhttp.onreadystatechange = function() {
		if (this.readyState == 4 && this.status == 200) {
		  var data = JSON.parse(this.responseText);
		  document.getElementById("newResume").innerHTML = '<button onclick="openResume(' + data.id + ')" class="btn btn-primary">'+ data.title + '</button><br> '+ document.getElementById("newResume").innerHTML;
		}
		};
		
		xhttp.open("POST", "/add_resume/", true);
		xhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
		xhttp.send(params);
	}

	function displayForm(){
		document.getElementById('title').style.display = 'block';
		document.getElementById('submit').style.display = 'block';
		document.getElementById('Show').style.display = 'none';

	}

	function openResume(id){
		console.log(id);
		var form = document.createElement("form");
		var element = document.createElement("input");
		form.method = "POST";
		form.action = "/resume/";
		element.value = id;
		element.name = "id";
		form.appendChild(element);
		document.body.appendChild(form);
		form.submit();

	}
</script>
{% endblock content %}