{% extends "website/index.html" %}

{% block title %}VerifyMe{% endblock title %}
{% block section_heading %}Login{% endblock section_heading %}
{% block navbar %}{% endblock navbar %}
{% block section_content %}
	<div align = "center">
		{% if meta %}
			{{ meta }}
		{% endif %}
		<form action = "" method = "post">
			{% csrf_token %}
			Username : <input name = "username" type = text><br>
			Password : <input name = "password" type = text><br>
			<input type = "submit" value = "Login">
		</form>
	</div>
{% endblock section_content %}