{% extends "website/base.html" %}

{% block navbar_items %}
    {% include "website/navbar.html" %}
{% endblock navbar_items %}


{% block content %}
<section>
<div class="custom_container">
  <h1 align="center" class="site-title">Messages</h1><br>
  <div class="messaging">
    <div class="inbox_msg">
      <div class="inbox_people">
        <div class="headind_srch">
          <div class="srch_bar">
            <div class="input-group mb-3">
             <input type="text" class="form-control" placeholder="Search Conversation">
             <span class="input-group-btn">
                  <button class="btn btn-primary" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
             </span>
            </div>
          </div>
        </div>
        <div class="inbox_chat">

          {% for conversation in conversations %}
            {% if forloop.first %}
              <div class="chat_list active_chat">
            {% else %}
              <div class="chat_list">
            {% endif %}
                <div class="chat_people">
                  <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                  <div class="chat_ib">
                    <h5>
                    {% if conversation.user1 == user %}
                      {{conversation.user2.name}}  
                    {% else %}
                      {{conversation.user1.name}}
                    {% endif %}
                    <span class="chat_date">Dec 25</span></h5>  
                    <p>Test, which is a new approach to have all solutions astrology under one roof.</p>
                  </div>
                </div>
              </div>
          {% endfor %}

        </div>
      </div>


      <div class="mesgs">
        <div class="msg_history">

          {% for message in messages %}
            {% if message.sender == user %}
              <div class="outgoing_msg">
                <div class="sent_msg">
                  <p>{{ message.content }}</p>
                  <span class="time_date">{{ message.timestamp }}</span> </div>
              </div>
            {% else %}
              <div class="incoming_msg">
                <div class="incoming_msg_img"><img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                <div class="received_msg">
                  <div class="received_withd_msg">
                    <p>{{ message.content }}</p>
                    <span class="time_date">{{ message.timestamp }}</span></div>
                </div>
              </div>
            {% endif %}
          {% endfor %}

        </div>
        <hr>
        <div class="type_msg">
          <div class="input-group mb-3">
             <input type="text" class="form-control" placeholder="Type a message">
             <span class="input-group-btn">
                  <button class="btn btn-primary" type="button"><i class="fas fa-angle-right"></i></button>
             </span>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

{% endblock content %}


{% block javascript %}


{% endblock javascript %}


