
<li><a href="/messages"><i class="fas fa-envelope"></i></a></li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bell"></i></a>
    <ul class="dropdown-menu notify-drop">
    <!--
    <div class="notify-drop-title">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">Bildirimler (<b>2</b>)</div>
            <div class="col-md-6 col-sm-6 col-xs-6 text-right"><a href="" class="rIcon allRead" data-tooltip="tooltip" data-placement="bottom" title="tümü okundu."><i class="fa fa-dot-circle-o"></i></a></div>
        </div>
    </div>
    -->
    <!-- end notify title -->

    <!-- notification content -->
    <div class="drop-content">
    {% for notification in notifications %}
        <li>
            <div class="col-md-3 col-sm-3 col-xs-3"><div class="notify-img"><img src="http://placehold.it/45x45" alt=""></div></div>
            <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                <span>{{ notification.user_sender.name }} verified the below in {{ notification.point.section.title }} of {{ notification.point.section.resume.title }}</span><br>
                <p class="time">{{ notification.point.content }}</p>
            </div>
        </li>
    {% endfor %}
    </div>
    {% if notifications|length == 0 %}
        <div class="notify-drop-footer text-center">
            <a href="">No notifications to show :(</a>
        </div>
    {% endif %}
    </ul>
</li>
    <!-- end notification -->
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fas fa-cog"></i></a>
    <ul class="dropdown-menu">
        <li><a href="">Profile</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</li>
<li><a>{{ user.name }}</a></li>
