{% extends "website/base.html" %}

{% block navbar_items %}
	{% include "website/navbar.html" %}
{% endblock navbar_items %}


{% block content %}


<section>
	<div class="container clearfix">
		<div class="content">
			<h1 align="center" class="site-title">{{ user.name }}</h1>
			{% if user.privilege %}
				<h3 align="center" class="site-subtitle">({{ user.position }})</h3>
			{% endif %}
			<br>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<h4 align="center" class="site-subtitle">User Picture</h4>
				<div class="user_profile_container" width="70%" height="70%">
					<center>
						<img src="/media/{{user.image}}" alt="sunil" id="user_profile_photo">
						<div class="user_profile_overlay">
					      <div style="cursor: pointer;"  onClick="return clickInput(); " class="user_profile_icon"> <i class="fa fa-edit"> </i></div>
					    </div>
					</center>		
				</div>
			</div>
			<div class="col-sm-4">
				<h4 align="center" class="site-subtitle">General</h4>
				<form name="_login_form_" action="/update_profile/" onsubmit="return detail_form()" method="post">{% csrf_token %}
					<div class="form-group">
						<input type="text" value="{{ user.name }}" class="form-control" name="name" id="name" placeholder="Name">
					</div>
					<div class="form-group">
						<input type="text" value="{{ user.roll_number }}" class="form-control" name="roll_number" id="roll_number" readonly>
					</div>
					<div class="form-group">
						<select value="{{ user.department }}" class="form-control" placeholder="Department" name="department" id="department">
							<option value="EE">Electrical Engineering</option>
							<option value="CE">Civil Engineering</option>
							<option value="MA">Mathematics</option>
							<option value="CS">Computer Science and Engineering</option>
						</select>
					</div>
					<div class="form-group">
						<input type="text" value="{{ user.position }}" class="form-control" name="position" id="position" readonly>
					</div>
					<div id = "_detail_inc_" style="color: #f00;"><br><br></div>
					<p class="text-center">
						<button type="submit" class="btn btn-primary">Save Changes</button>
					</p>
				</form>
			</div>	
			<div class="col-sm-4">
				<h4 align="center" class="site-subtitle">Security</h4>
				<form name="_login_form_" action="/reset_password/" onsubmit="return pass_form();" method="post">{% csrf_token %}
					<div class="form-group">
						<input type="password" class="form-control" name="curr_pass" id="curr_pass" placeholder="Current Password">
					</div>
					<div class="form-group">
						<input type="password" class="form-control" name="new_pass" id="new_pass" placeholder="New Password">
					</div>
					<div class="form-group">
						<input type="password" class="form-control" name="conf_new_pass" id="conf_new_pass" placeholder="Confirm New Password">
					</div>
					<div id = "_pass_unmatch_" style="color: #f00;"><br><br></div>
					<p class="text-center">
						<button type="submit" class="btn btn-primary">Change Password</button>
					</p>
				</form>
			</div>	
		</div>
		<br>
		{% if user.privilege %}
		<div class="row">
			<div class="col-sm-4">
			</div>
			<div class="col-sm-4">
				<h4 align="center" class="site-subtitle">Transfer Privilege</h4>
				<form autocomplete="off" method = "POST" action="/transfer_privilege/" onsubmit="return transfer_form();">{% csrf_token %}
		            <div class="form-group">
						<input type="password" class="form-control" name="pass" id="pass" placeholder="Password">
					</div>
					<div>
		            <div class="input-group mb-3">
		             <input type="text" class="form-control" id="myInput" name ='transfer_to' placeholder="Transfer To">
		             <span class="input-group-btn">
		                  <button class="btn btn-primary" type="button submit"><i class="fa fa-search" aria-hidden="true"></i></button>
		             </span>
		            </div></div><br>
		            <div id = "_transfer_inc_" style="color: #f00;"><br><br></div>
		            <p class="text-center">
						<button type="submit" class="btn btn-primary">Transfer</button>
					</p>
	            </form>
			</div>
			<div class="col-sm-4">
			</div>
		</div>
		{% endif %}
	</div>
</section>



<script>

	function pass_form(){
		var currPass = document.getElementById("curr_pass").value;
		var newPass = document.getElementById("new_pass").value;	
		var confNewPass = document.getElementById("conf_new_pass").value;

		if (currPass == "" || newPass == "") {
			document.getElementById("_pass_unmatch_").innerHTML = "Password field cannot be empty <br> <br>";
			return false;
		}
		else if (newPass == confNewPass) return true;
		else {
			document.getElementById("_pass_unmatch_").innerHTML = "Passwords do not match <br> <br>";
			return false;
		}
	}

	function detail_form(){
		var name = document.getElementById("name").value;

		if (name == "") {
			document.getElementById("_detail_inc_").innerHTML = "Name field cannot be empty <br> <br>";
			return false;
		}
		else return true;
	}

	function transfer_form(){
		var pass = document.getElementById("pass").value;
		var transfer_to = document.getElementById("myInput").value;

		if (pass == "" || transfer_to == "") {
			document.getElementById("_transfer_inc_").innerHTML = "Above field cannot be empty <br> <br>";
			return false;
		}
		else return true;
	}

	document.getElementById("department").value = "{{user.department}}";
	function clickInput(){
					// console.log('id = '+ id);
			var form = document.createElement("form");
			form.setAttribute("style", "display:none;");
			var element = document.createElement("input");
			form.method = "POST";
			form.action = "/upload_profile_image/";
			element.setAttribute("type", "file");
			// form.setAttribute("id", "form1");
			// element.setAttribute("id", "image1");
			// element.setAttribute("onChange", "'submitForm();'");
			element.name = "file";
			element.onchange = function(){
				form.submit();
			}
			form.appendChild(element);
			form.enctype = "multipart/form-data";
			document.body.appendChild(form);
			element.click();
			return false;
	}

	function autocomplete(inp, arr) {
	  /*the autocomplete function takes two arguments,
	  the text field element and an array of possible autocompleted values:*/
	  var currentFocus;
	  /*execute a function when someone writes in the text field:*/
	  inp.addEventListener("input", function(e) {
	      var a, b, i, val = this.value;
	      /*close any already open lists of autocompleted values*/
	      closeAllLists();
	      if (!val) { return false;}
	      currentFocus = -1;
	      var xhttp = new XMLHttpRequest();
	    
	      xhttp.onreadystatechange = function() {
	        if (this.readyState == 4 && this.status == 200) {
	         var data = JSON.parse(this.responseText);
	         arr = data.user_list;
	         console.log(users);
	         // autocomplete(document.getElementById("myInput"), users);
	         
	          /*create a DIV element that will contain the items (values):*/
	          a = document.createElement("DIV");
	          a.setAttribute("id", document.getElementById('myInput').id + "autocomplete-list");
	          a.setAttribute("class", "autocomplete-items");
	          a.setAttribute("style", "max-height : 100px;overflow-y: scroll; padding-left:20px; padding-top : 10px; cursor:pointer;")
	          /*append the DIV element as a child of the autocomplete container:*/
	          document.getElementById('myInput').parentNode.parentNode.appendChild(a);
	          // /*for each item in the array...*/
	          for (i = 0; i < arr.length; i++) {
	            /*check if the item starts with the same letters as the text field value:*/
	            // if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
	              /*create a DIV element for each matching element:*/
	              b = document.createElement("DIV");
	              /*make the matching letters bold:*/
	              b.innerHTML = "<strong>" + arr[i].key.substr(0, val.length) + "</strong>";
	              b.innerHTML += arr[i].key.substr(val.length);
	              /*insert a input field that will hold the current array item's value:*/
	              b.innerHTML += "<input type='hidden' value='" + arr[i].value + "'>";
	              /*execute a function when someone clicks on the item value (DIV element):*/
	              b.addEventListener("click", function(e) {
	                  /*insert the value for the autocomplete text field:*/
	                  inp.value = this.getElementsByTagName("input")[0].value;
	                  /*close the list of autocompleted values,
	                  (or any other open lists of autocompleted values:*/
	                  closeAllLists();
	              });
	              a.appendChild(b);
	            // }
	          }
	       }
	      }
	      xhttp.open("GET", "/change_list/?text="+document.getElementById('myInput').value , true);
	      xhttp.send();
	      
	  });
	  /*execute a function presses a key on the keyboard:*/
	  inp.addEventListener("keydown", function(e) {
	      var x = document.getElementById(this.id + "autocomplete-list");
	      if (x) x = x.getElementsByTagName("div");
	      if (e.keyCode == 40) {
	        console.log(currentFocus)
	        /*If the arrow DOWN key is pressed,
	        increase the currentFocus variable:*/
	        currentFocus++;
	        /*and and make the current item more visible:*/
	        addActive(x);
	      } else if (e.keyCode == 38) { //up
	        /*If the arrow UP key is pressed,
	        decrease the currentFocus variable:*/
	        currentFocus--;
	        /*and and make the current item more visible:*/
	        addActive(x);
	      // }
	      } else if (e.keyCode == 13) {
	        // If the ENTER key is pressed, prevent the form from being submitted,
	        e.preventDefault();
	        if (currentFocus > -1) {
	          // and simulate a click on the "active" item:
	          if (x) x[currentFocus].click();
	        }
	      }
	  });
	  function addActive(x) {
	    /*a function to classify an item as "active":*/
	    if (!x) return false;
	    /*start by removing the "active" class on all items:*/
	    removeActive(x);
	    if (currentFocus >= x.length) currentFocus = 0;
	    if (currentFocus < 0) currentFocus = (x.length - 1);
	    /*add class "autocomplete-active":*/
	    x[currentFocus].classList.add("autocomplete-active");
	  }
	  function removeActive(x) {
	    /*a function to remove the "active" class from all autocomplete items:*/
	    for (var i = 0; i < x.length; i++) {
	      x[i].classList.remove("autocomplete-active");
	    }
	  }
	  function closeAllLists(elmnt) {
	    /*close all autocomplete lists in the document,
	    except the one passed as an argument:*/
	    var x = document.getElementsByClassName("autocomplete-items");
	    for (var i = 0; i < x.length; i++) {
	      if (elmnt != x[i] && elmnt != inp) {
	        x[i].parentNode.removeChild(x[i]);
	      }
	    }
	  }
	  /*execute a function when someone clicks in the document:*/
	  document.addEventListener("click", function (e) {
	      closeAllLists(e.target);
	  });
	}

	/*An array containing all the country names in the world:*/
	/*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
	  var users=[];     
	  autocomplete(document.getElementById("myInput"), users);


</script>

{% if alert %}
	<script> 
		window.history.pushState({},null,"/profile");
		alert("{{alert}}");
	</script>
{% endif %}
{% endblock content %}