{% extends "website/base.html" %}

{% block css %}
	<style>
		.handles {
			/*margin: auto;*/
			padding: 0;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
		.handles li {
			list-style: none;
			/*font-family: "Tahoma";
			color: #1C94C4;*/
			margin: 2px;
			height: 40px;
		}
		.handles span {
			cursor: move;
		}
		.handles2 {
			/*margin: auto;*/
			padding: 0;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
		.handles2 li {
			list-style: none;
			/*font-family: "Tahoma";
			color: #1C94C4;*/
			margin: 2px;
			height: 40px;
		}
		.handles2 span {
			cursor: move;
		}
		/*
		li.disabled {
			opacity: 0.5;
		}
		li.highlight {
			background: #FEE25F;
		}
		*/
		li.sortable-placeholder {
			border: 1px dashed #CCC;
			background: none;
		}
		
	</style>
{% endblock css %}

{% block navbar_items %}
	{% include "website/navbar.html" %}
{% endblock navbar_items %}

{% block content %}

<section>
	<div class="container clearfix">
		<h1 align="center" class="site-title">{{ resume.title }}</h1><br>
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-10">
				<!-- Sections -->
				{% for section in sections %}
					<center>
						<div class="btn-group" style="margin-top: 10px; margin-bottom: 10px;">
							<button class="btn btn-primary">{{section.title}}</button>
	    					<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></button>
	    					<ul class="dropdown-menu dropdown-menu-right">
	        					<li><a>Rename</a></li>
	        					<li><a  href='#'  onClick = "return deleteSection({{section.id}});">Delete</a></li>
	   						</ul>
	  					</div>
  					</center>
  					{% if section.type == 'BU' %}
  						<ul id = {{section.id}} class="handles list">
			  				{% for point in section.points %}
								<li id = {{point.id}}>
					  				<div class="input-group mb-3" style="margin-bottom: 5px;">
					  					{% if point.status == 'V' %}
					  						<input type="text" class="form-control" value="{{ point.content }}" readonly style="background-color: #429244; color: #fff;">
					  						<span class="input-group-btn">
						  						<button class="btn btn-green dropdown-toggle" style = "width : 40px;" type="button" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></button>
						    					<ul class="dropdown-menu dropdown-menu-right">
						        					<li><a href='#'  onClick = "return openUploadModal({{point.id}});">Proofs</a></li>
						        					<li><a href='#'  onClick = "return deletePoint({{point.id}});">Delete</a></li>
						   						</ul>
					  						</span>
					  					{% elif point.status == 'R' %}
					  						<input type="text" class="form-control" value="{{ point.content }}" readonly style="background-color: #ff3f3f; color: #fff;">
					  						<span class="input-group-btn">
						  						<button class="btn btn-red dropdown-toggle" style = "width : 40px;" type="button" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></button>
						    					<ul class="dropdown-menu dropdown-menu-right">
						        					<li><a href = '#' onClick = "return openSendModal({{point.id}});">Resend</a></li>
						        					<li><a href='#'  onClick = "return openUploadModal({{point.id}});">Proofs</a></li>
						        					<li><a href = '#' onClick = "return openCommentModal('{{point.comment}}');">Comment</a></li>
						        					<li><a href='#'  onClick = "return deletePoint({{point.id}});">Delete</a></li>
						   						</ul>

						    					<!-- <button class="btn btn-green" type="button"><i class="fas fa-check"></i></button> -->
					  						</span>
					  					{% else %}	
					  						<input type="text" class="form-control" value="{{ point.content }}" readonly>
					  						<span class="input-group-btn">
						  						<button class="btn btn-primary dropdown-toggle" style = "width : 40px;" type="button" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></button>
						    					<ul class="dropdown-menu dropdown-menu-right">
						        					<li><a href = '#' onClick = "return openSendModal({{point.id}});">Send</a></li>
						        					<li><a href='#'  onClick = "return openUploadModal({{point.id}});">Proofs</a></li>
						        					<li><a href='#'  onClick = "return deletePoint({{point.id}});">Delete</a></li>
						   						</ul>

						    					<!-- <button class="btn btn-green" type="button"><i class="fas fa-check"></i></button> -->
					  						</span>
					  					{% endif %}
					  				</div>
				  				</li>
			  				{% endfor %}
				  			<li class="disabled">
				  				<div class="input-group mb-3" style="margin-bottom: 5px;">
				  					<input type="text" class="form-control" id = "{{section.id}}">
				  					<span class="input-group-btn">
				    					<button class="btn btn-green" style = "width : 40px;" type="submit" onclick="add_point({{section.id}})"><i class="fas fa-arrow-right"></i></button>
				  					</span>
					  			</div>
				  			</li>
			  			</ul>
			  		{% elif section.type == 'BL' %}
			  			
			  			{% for point in section.points %}
							<!-- TODO -->	
			  			{% endfor %}

						<div class="row">
							<div class="col-sm-4">
								<input type="text" class="form-control">
							</div>
							<div class="col-sm-4"></div>
							<div class="col-sm-4">
								<div class="input-group mb-3" style="margin-bottom: 5px;">
									<input type="text" class="form-control">
									<span class="input-group-btn">
	    								<button class="btn btn-green" style = "width : 40px;" type="submit" onclick="add_point({{section.id}})"><i class="fas fa-arrow-right"></i></button>
			  						</span>
			  					</div>
			  				</div>
			  			</div>
	  					<div class="input-group mb-3" style="margin-bottom: 5px;">
		  					<input type="text" class="form-control" id = "{{section.id}}">
		  					<span class="input-group-btn">
		    					<button class="btn btn-green" style = "width : 40px;" type="submit" onclick="add_point({{section.id}})"><i class="fas fa-plus"></i></button>
		  					</span>
			  			</div>

			  		{% elif section.type == 'M2' %}

			  			{% for point in section.points %}
							<!-- TODO -->	
			  			{% endfor %}

			  			<div class="input-group mb-3" style="margin-bottom: 5px;">
							
							<input type="text" class="form-control"/>
							<span class="input-group-addon" style="width:1px;"></span>
							<input type="text" class="form-control"/>
							<span class="input-group-btn">
		    					<button class="btn btn-green" style = "width : 40px;" type="submit" onclick="add_point({{section.id}})"><i class="fas fa-arrow-right"></i></button>
		  					</span>
						</div>

					{% elif section.type == 'M3' %}

						{% for point in section.points %}
							<!-- TODO -->	
			  			{% endfor %}

			  			<div class="input-group mb-3" style="margin-bottom: 5px;">
							
							<input type="text" class="form-control"/>
							<span class="input-group-addon" style="width:1px;"></span>
							<input type="text" class="form-control"/>
							<span class="input-group-addon" style="width:1px;"></span>
							<input type="text" class="form-control"/>
							<span class="input-group-btn">
		    					<button class="btn btn-green" style = "width : 40px;" type="submit" onclick="add_point({{section.id}})"><i class="fas fa-arrow-right"></i></button>
		  					</span>
						</div>

					{% elif section.type == 'M4' %}

						{% for point in section.points %}
							<!-- TODO -->	
			  			{% endfor %}

			  			<div class="input-group mb-3" style="margin-bottom: 5px;">
							
							<input type="text" class="form-control"/>
							<span class="input-group-addon" style="width:1px;"></span>
							<input type="text" class="form-control"/>
							<span class="input-group-addon" style="width:1px;"></span>
							<input type="text" class="form-control"/>
							<span class="input-group-addon" style="width:1px;"></span>
							<input type="text" class="form-control"/>
							<span class="input-group-btn">
		    					<button class="btn btn-green" style = "width : 40px;" type="submit" onclick="add_point({{section.id}})"><i class="fas fa-arrow-right"></i></button>
		  					</span>
						</div>

			  		{% endif %}
				{% endfor %}
				<!-- Single Point -->

  				<center>
  					<div class="btn-group" style="margin-top: 25px;">
  						<button type="button" class="btn btn-primary custom-width" data-toggle="modal" data-target="#myModal">Add Section</button>
  					</div>
  				</center>
				  <!-- Modal -->
				  
			<div class="col-sm-1"></div>
		</div>
	</div>
</section>

<!-- Modal for add point -->
<div class="modal fade" id="myModal" role="dialog">
				    <div class="modal-dialog">
				    
				      <!-- Modal content-->
				      <div class="modal-content">
				        <div class="modal-header">
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				          <h4 class="modal-title">Add Section</h4>
				        </div>
				        <div class="modal-body">
				        <form method='POST' action='/add_section/'>
				          Title: <input type=text id=section-title name='title'><br>
				          Type: <select class="form-control" placeholder="Department" name="type">
							<option value="">Choose a type</option>
							<option value="BU">Bullet</option>
							<option value="BL">Block</option>
							<option value="M2">Two Columns</option>
							<option value="M3">Three Columns</option>
							<option value="M4">Four Columns</option>
						</select>
						<div class='modal-footer'>
				          <input type=submit id="_create_" class="btn btn-primary">
				  		</div>
				  		</form>

				      </div>

				      
				    </div>
				  </div>

  				<!-- Block Point -->

  				<!-- Multicolumn -->

			</div>



<!-- Modal for send -->
		   						 <div class="modal fade" id="SendModal" role="dialog">
				 				 <div class="modal-dialog">
							    
							      <!-- Modal content-->
								      <div class="modal-content">
								        <div class="modal-header">
								          <button type="button" class="close" data-dismiss="modal">&times;</button>
								          <h4 class="modal-title">Send</h4>
								        </div>
								        <div class="modal-body">
								        <form method='POST' action='/add_request/'>
								          Choose: <select class="form-control" placeholder="Position" name="roll_number" >
											<option value="">Position</option>
											{% for user in privileged_user %}
											<option value="{{user.roll_number}}">{{user.position}} ({{user.name}})</option>
											{% endfor %}
										</select>
								  		 <input type=hidden name = "sendModalID" id="sendModalID" >
										<div class='modal-footer'>
								          <input type=submit id="_create_" class="btn btn-primary">
								  		</div>
								  		</form>
								      </div>
								    </div>
								  </div>
								</div>


<!-- Modal for Proofs -->
		   						 <div class="modal fade" id="UploadModal" role="dialog">
				 				 <div class="modal-dialog">
							    
							      <!-- Modal content-->
								      <div class="modal-content">
								        <div class="modal-header">
								          <button type="button" class="close" data-dismiss="modal">&times;</button>
								          <h4 class="modal-title">Send</h4>
								        </div>
								        <div class="modal-body">
								        	<div id=fileList>
								        		
								        	</div>
								        <form method='POST' action='/upload/' enctype="multipart/form-data">
								          <input type=file id=section-title name='file' multiple><br>
										  <input type=hidden id=uploadModalID name=pointID><br>		
										</div>
										<div class='modal-footer'>
								          <input type=submit id="_create_" class="btn btn-primary" >
								  		</div>
								  		</form>
								      </div>
								    </div>
								  </div>
								</div>

<!-- Modal for Comment -->
		   						 <div class="modal fade" id="CommentModal" role="dialog">
				 				 <div class="modal-dialog">
							    
							      <!-- Modal content-->
								      <div class="modal-content">
								        <div class="modal-header">
								          <button type="button" class="close" data-dismiss="modal">&times;</button>
								          <h4 class="modal-title">Comment</h4>
								        </div>
								        <div class="modal-body" id="CommentDiv">
								        
								      	</div>
								      	<div class='modal-footer'>
								          <button type=submit  class="btn btn-primary"  data-dismiss="modal">Close</button>
								  		</div>
								    </div>
								  </div>
								</div>


{% if alert %}
	<script> 
		window.history.pushState({},null,"/resume");
		alert("{{alert}}");
	</script>
{% endif %}

{% endblock content %}




{% block javascript %}
	<script type="text/javascript">

		function add_point(id){
			var form = document.createElement("form");
			var element1 = document.createElement("input");
			var element2 = document.createElement("input");
			
			var att1 = document.createAttribute("type");
			att1.value = "hidden";
			
			var att2 = document.createAttribute("type");
			att2.value = "hidden";

			element1.setAttributeNode(att1);
			element2.setAttributeNode(att2);
			
			form.method = "POST";
			form.action = "/add_point/";
			
			element1.value = document.getElementById(id).value;
			element1.name = "content";

			element2.value = id;
			element2.name = 'section_id';

			form.appendChild(element1);
			form.appendChild(element2);

			document.body.appendChild(form);
			form.submit();

		}

		function deleteSection(id){
			console.log('id = '+ id);
			var form = document.createElement("form");
			var element = document.createElement("input");
			form.method = "POST";
			form.action = "/delete_section/";
			element.value = id;
			element.name = "section_id";
			form.appendChild(element);
			document.body.appendChild(form);
			form.submit();
			return false;
		}
		function deletePoint(id){
			console.log('id = '+ id);
			var form = document.createElement("form");
			var element = document.createElement("input");
			form.method = "POST";
			form.action = "/delete_point/";
			element.value = id;
			element.name = "point_id";
			form.appendChild(element);
			document.body.appendChild(form);
			form.submit();
			return false;
		}
		function openSendModal(id){
			document.getElementById('sendModalID').value = id;
			$("#SendModal").modal();
			return false;
		}
		function openCommentModal(comment){
			document.getElementById('CommentDiv').innerHTML = comment;
			console.log('Comment');
			$("#CommentModal").modal();
			return false;
		}
		function openUploadModal(id){
			loadFiles(id);
			document.getElementById('uploadModalID').value = id;
			console.log('Uploading');
			$("#UploadModal").modal();
			return false;
		}
		function loadFiles(id){
			var xhttp = new XMLHttpRequest();
				
			xhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {
					var data = JSON.parse(this.responseText);
					var file_list = data.data;
					console.log(file_list)
					var output = "";
					for (var i = 0; i < file_list.length; i++){
						path = encodeURIComponent(file_list[i].trim());
						output += "<a href=/media/"+ id +"/" + path + " target=_blank>" + file_list[i] + "</a><button class='btn-red btn' onClick=\"return deleteFile("+id+", '"+file_list[i]+"');\">&times;</button><br>";
					}
					document.getElementById('fileList').innerHTML = output;
				}
			}
			xhttp.open("GET", "/get_files/?id="+id+ "&point=1", true);
			xhttp.send();			
		}
		function deleteFile(point_id, file_name){
			var xhttp = new XMLHttpRequest();
				
			xhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {
					var data = JSON.parse(this.responseText);
					openUploadModal(point_id);
				}
			}
			xhttp.open("GET", "/delete_file/?id="+point_id+ "&path="+file_name, true);
			xhttp.send();	
		}

		$(function() {
			//$('.exclude').sortable({
			//	items: ':not(.disabled)'
			//});
			$('.handles').sortable({
				handle: 'span',
				items: ':not(.disabled)'
			}).bind('sortupdate', function(){
				//console.log(this.id);
				var new_order = [];
				var c = this.children;
				for (i = 0; i < c.length; i++) {
					//console.log(c[i].id);
					new_order.push(c[i].id);
				}
				var xhttp = new XMLHttpRequest();
                xhttp.open("GET", "/reorder_section/?section="+this.id+"&points="+new_order.toString(), true);
        		xhttp.send(); 
			});
		});

	</script>
{% endblock javascript %}
