/* your styles go here */

.site-title {
	font-size: 40pt;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
	font-family: Kodchasan;
}

.transition-visible {
	opacity: 1;
    transition: opacity 0.5s linear;
}

.transition-hidden {
	visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.custom-width {
    width: 180px !important;
    margin-bottom: 10px;
}

.custom-space {
    margin-bottom: 10px !important;
}

.dropdown-width {
    width: 60px !important;
    margin-bottom: 10px;
}
